html, body { font-size: 14px; font-weight: 400; line-height: 20px; font-family: 'Roboto', sans-serif; font-weight: 400; }
h1 { color: #26a69a}
a, a:hover, a:visited { color: #26a69a; text-decoration:none }
h1, h2, h3, h4, h5 {margin: 0px; padding: 0px;}
h3 {font-size: 30px}
h4 {font-size: 20px}
pre { line-height: 30px; }
p { margin: 0; }
.mdl-card { min-height: 0; width: 100%; position: relative; overflow: inherit; position:fixed; background: #263238; color: #ffffff; border-radius: 0; }
.my-wrapper { width: auto; max-width: auto; padding: 20px 30px; }
.mdl-menu__container { margin: 0 45px; }
.site-title, .site-title:visited, .site-title:hover { color: #ffffff; text-decoration: none; font-weight: 400; }
.nav-item { color: #ffffff; text-decoration: none; font-family: 'Roboto', sans-serif; font-weight: 400; display: inline-block; }
.post-container { margin: -6px 0 24px 0; line-height: 0; }
.post-title {font-size: 24px;}
.post-link, .post-link:hover { text-decoration: none; display: inline-block; line-height: initial; margin: 0 0 5px }
.post-description { color: #78909C; font-size: 16px; line-height: 24px; margin: 2px 0; }
.post-content h2 {font-size: 45px}
.page-content { padding: 14.4px 0 0; }
.post-meta { color: #78909C; margin-bottom: 10px; }
.site-nav { float: right; line-height: 56px; }
.site-nav .menu-icon { display: none; }
.site-nav .page-link { color: #111; line-height: 1.5; }
.site-nav .page-link:not(:last-child) { margin-right: 20px; }
.mdl-button:hover, .mdl-button:active { background-color: transparent; }
@media screen and (max-width: 1049px) { 
.nav-desktop { display: none; }
.nav-mobile { display: block; }
.site-nav { position: absolute; top: 19px; right: 20px; background-color: #263238; border: none; border-radius: 0; text-align: right; }
.mdl-menu__container { margin: 0 16px; }
}
@media screen and (min-width: 1050px) {
.nav-desktop { display: block; }
.nav-mobile { display: none; }
.mdl-button--icon { margin-right: 10%; }
.post-list, .post { margin: 0 10% 0 10%; }
.title-wrap { margin-left: 10%; }
.mdl-menu__container.is-visible, .mdl-menu__container.is-animating { right: 9.6% !important; }
.site-nav { margin-right: 10% }
.mdl-button--raised { margin-left: 10% }
}