html, body { font-family: 'Roboto', sans-serif; font-size: 14px; font-weight: 400; line-height: 20px; }
body { font: normal normal 16px 'Roboto', sans-serif }
h1 { font-family: 'Roboto', sans-serif; color: #26a69a}
a, a:hover, a:visited { color: #26a69a; text-decoration:none }
h2 { margin: -6px 0 24px 0;}
pre { line-height: 30px; }
p { margin: 0; }
.mdl-card { min-height: 0; width: 100%; position: relative; overflow: inherit; position:fixed; background: #263238; color: #ffffff; border-radius: 0; }
.my-wrapper { width: auto; max-width: auto; padding: 20px 30px; }
.mdl-menu__container { margin: 0 45px; }
.site-title, .site-title:visited, .site-title:hover { color: #ffffff; text-decoration: none; }
.post-title {font-size: 24px;}
.post-link, .post-link:hover { text-decoration: none; display: inline-block; }
.post-description { color: #78909C; font-size: 16px; line-height: 24px; margin-bottom: 6px; }
.page-content { padding:  45px 0 0 0; }
.post-content h2 {font-size: 45px}
.post-meta { color: #78909C; font: auto }
.site-nav { float: right; line-height: 56px; }
.site-nav .menu-icon { display: none; }
.site-nav .page-link { color: #111; line-height: 1.5; }
.site-nav .page-link:not(:last-child) { margin-right: 20px; }
@media screen and (max-width: 1049px) { 
.site-nav { position: absolute; top: 19px; right: 20px; background-color: #263238; border: none; border-radius: 0; text-align: right; }
.mdl-menu__container { margin: 0 16px; }
}
@media screen and (min-width: 1050px) {
.mdl-button--icon { margin-right: 10%; }
.post-list, .post { margin: 0 10% 0 10%; }
.site-title { margin-left: 10%; }
.mdl-menu__container.is-visible, .mdl-menu__container.is-animating { right: 9.6% !important; }
.site-nav { margin-right: 10% }
.mdl-button--raised { margin-left: 10% }
}