html, body { font-size: 14px; font-weight: 400; line-height: 20px; }
h1 { color: #26a69a}
a, a:hover, a:visited { color: #26a69a; text-decoration:none }
h1, h2, h3, h4, h5 {margin: 0px; padding: 0px;}
h3 {font-size: 30px}
h4 {font-size: 20px}
pre { line-height: 30px; }
p { margin: 0; }
.mdl-card { min-height: 0; width: 100%; position: relative; overflow: inherit; position:fixed; background: #263238; color: #ffffff; border-radius: 0; }
.my-wrapper { width: auto; max-width: auto; padding: 20px 30px; }
.mdl-menu__container { margin: 0 45px; }
.site-title, .site-title:visited, .site-title:hover { color: #ffffff; text-decoration: none; }
.post-container { margin: -6px 0 24px 0; line-height: 0; }
.post-title {font-size: 24px;}
.post-link, .post-link:hover { text-decoration: none; display: inline-block; line-height: initial; margin: 0 0 5px }
.post-description { color: #78909C; font-size: 16px; line-height: 24px; margin: 2px 0; }
.post-content h2 {font-size: 45px}
.page-content { padding: 14.4px 0 0; }
.post-meta { color: #78909C; margin-bottom: 10px; }
.site-nav { float: right; line-height: 56px; }
.site-nav .menu-icon { display: none; }
.site-nav .page-link { color: #111; line-height: 1.5; }
.site-nav .page-link:not(:last-child) { margin-right: 20px; }
@media screen and (max-width: 1049px) { 
.site-nav { position: absolute; top: 19px; right: 20px; background-color: #263238; border: none; border-radius: 0; text-align: right; }
.mdl-menu__container { margin: 0 16px; }
}
@media screen and (min-width: 1050px) {
.mdl-button--icon { margin-right: 10%; }
.post-list, .post { margin: 0 10% 0 10%; }
.site-title { margin-left: 10%; }
.mdl-menu__container.is-visible, .mdl-menu__container.is-animating { right: 9.6% !important; }
.site-nav { margin-right: 10% }
.mdl-button--raised { margin-left: 10% }
}

/*mdl:material-icons*/
/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url('/mdl/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}