---
layout: default
title: Archive
permalink: /archive/
---
<style>
.posts {
  margin-top: 35px;
}
#archive {
    pointer-events: none;
    cursor: default;
    font-weight: bold;
}
</style>

<div class="posts">
  {% for cat in site.categories %}
    <a id="{{ category | first }}" href="{{ site.baseurl }}{{ post.url }}" class="read-more">{{ cat | first }}</a>
	<div class="cat">
    {% for posts in cat %}
	  {% for post in posts %}
	  	{% if post.date %}
		  <h1 class="title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
		{% endif %}
	  {% endfor %}
    {% endfor %}
	</div>
  {% endfor %}
</div>