---
layout: default
title: Archive
permalink: /archive/
---
<style>
#archive {
  pointer-events: none;
  cursor: default;
  font-weight: bold;
}
.read-more {
  pointer-events: none;
  cursor: default;
}
.posts > .cat:last-child > .title:last-child {
  margin-bottom: 0;
}
</style>

<div class="posts">
  {% for cat in site.categories %}
    <a id="{{ cat | first }}" href="{{ site.baseurl }}{{ post.url }}" class="read-more">{{ cat | first }}</a>
	<div class="cat">
    {% for posts in cat %}
	  {% for post in posts %}
	  	{% if post.date %}
		  <h1 class="title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
		{% endif %}
	  {% endfor %}
    {% endfor %}
	</div>
  {% endfor %}
</div>