---
layout: default
---
<style>

</style>

<div class="home">

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
		
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
		  <div class="post-description">
		  <span style="margin-right: 5px;">{{ post.description }}</span>
		  	<a href="/archive.html#{{ post.categories }}"><button class="mdl-button" style="background-color: #26a69a; color: #ffffff;">
			{{ post.categories }}
			</button></a>
		  </div> 
		    <div class="post-content" style="font-size: 14px; line-height: 24px">
			{% if post.content | size > 400 %}
				{{ post.content | strip_html | truncate: 400 }}...
				<a href="{{ post.url | prepend: site.baseurl }}" class="read_more">Read More</a>
			{% endif %}
			</div>		
        </h2>
      </li>
    {% endfor %}
  </ul>

</div>
