<script>
  var dropdown = document.getElementById('wrapper-dropdown');
	  
  document.addEventListener('DOMContentLoaded', function () {
    window.addEventListener('resize', function (){
    if (window.innerWidth > 640) {
      dropdown.style.display = 'none';
	  //console.log("resized");
	  }
    });
  });
	  
  function toggleDropdown() {
    var displayx;
    if (dropdown.style.display === 'block') {
      dropdown.style.display = 'none';
    } else {
      dropdown.style.display = 'block';
    }
  }
</script>