<link rel="stylesheet" href="{{ "/css/styles.css" | prepend: site.baseurl }}">
<header class="mdl-card mdl-shadow--2dp">

  <div class="my-wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">

		<button id="menu" class="mdl-button mdl-js-button mdl-button--icon">
			<i class="material-icons">more_vert</i>
		</button>
		<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="menu">
		
		{% if site.github_username %}
          <li class="mdl-menu__item" onclick="location.href='http://github.com/cyource'">
            {% include icon-github.html username=site.github_username %}
          </li>
        {% endif %}
		  
		{% if site.twitter_username %}
          <li class="mdl-menu__item" onclick="location.href='http://twitter.com/cyource'">
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
        {% endif %}
	
          <li class="mdl-menu__item" onclick="location.href='http://plus.google.com/+manasmrawat'">
            {% include icon-google.html %}
          </li>
		  
          <a href="/archive.html">
		  <li class="mdl-menu__item">Archive</li>
		  </a>
		  
		  <a href="/about.html">
		  <li class="mdl-menu__item">About</li>
		  </a>
		
		</ul>

    </nav>

  </div>

</header>