<link rel="stylesheet" href="{{ "/css/styles.css" | prepend: site.baseurl }}">
<header class="mdl-card mdl-shadow--2dp">

  <div class="my-wrapper">

	<div style="display: inline-flex; align-items:center;" class="title-wrap">
		<a href="https://plus.google.com/+ManasMRawat">
			<img src="/res/munowse.png" title="+ManasMRawat" style="margin-right: 20px; height: 40px; border-radius: 50%;"/>
		</a>
		<a class = "site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
	</div>
	
    <nav class="site-nav">

		<!--desktop navigation-->
		<div class="nav-desktop">
			<a href="https://github.com/munowse">
				<img src="/res/github.png" title="munowse" style="margin-right: 10px; height: 30px"/>
			</a>
			<a href="https://reddit.com/user/MowseDatCodez">
				<img src="/res/reddit.webp" title="u/MowseDatCodez" style="margin-right: 10px; height: 30px"/>
			</a>
			<a href="/posts-archive">
				<span class="nav-item" style="margin-right: 10px;">Archive</span>
			</a>
			<a href="/about">
				<span class="nav-item">About</span>
			</a>
		 </div>
	
		<!--mobile navigation-->
		<div class="nav-mobile">
			<button id="menu" class="mdl-button mdl-js-button mdl-button--icon">
				<i class="material-icons">more_vert</i>
			</button>
			<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu" for="menu">
				<a href="https://github.com/munowse">
					<li class="mdl-menu__item">GitHub</li>
				</a>
				<a href="https://reddit.com/u/MowseDatCodez">
					<li class="mdl-menu__item">Reddit</li>
				</a>
				<a href="/posts-archive">
					<li class="mdl-menu__item">Archive</li>
				</a>
				<a href="/about">
					<li class="mdl-menu__item">About</li>
				</a>
			</ul>
		</div>

    </nav>

  </div>

</header>